{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kofi - Coffee Shop Website Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Kofi - Coffee Shop Website Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">

    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/simple-line-icons.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/ion.rangeSlider.min.css' %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>

    {% block content %}

    {% endblock %}

    <!-- Vendors JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.7.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/svg-inject.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/resize-sensor.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.min.js' %}"></script>

    <!-- Activation JS -->
    <script src="{% static 'assets/js/active.js' %}"></script>
    
</body>
    
</html>